In [51]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import HIAforQMiFI as funcs

In [52]:
data = pd.read_excel('LW_monthly_1972-2024.xlsx')

In [53]:
data.head()

,Unnamed: 0,Unnamed: 1,1,2,3,4,5,6,7,8,...,111,112,113,114,115,116,117,118,119,120
0,1972,1,0.031598,0.032547,0.033557,0.034558,0.035502,0.036368,0.037163,0.037911,...,0.060441,0.060476,0.060512,0.060547,0.060583,0.060619,0.060656,0.060693,0.060731,0.060769
1,1972,2,0.031713,0.032907,0.034075,0.035181,0.036203,0.037143,0.038022,0.038869,...,0.059898,0.059926,0.059951,0.059976,0.059998,0.060019,0.060038,0.060056,0.060072,0.060086
2,1972,3,0.034877,0.036851,0.038742,0.040475,0.042002,0.043324,0.044480,0.045518,...,0.060521,0.060511,0.060501,0.060490,0.060479,0.060467,0.060455,0.060443,0.060430,0.060416
3,1972,4,0.033780,0.034820,0.035986,0.037184,0.038345,0.039438,0.040458,0.041405,...,0.061130,0.061170,0.061208,0.061246,0.061282,0.061318,0.061352,0.061385,0.061417,0.061447
4,1972,5,0.035883,0.036840,0.037882,0.038929,0.039930,0.040863,0.041725,0.042519,...,0.060647,0.060693,0.060737,0.060780,0.060822,0.060863,0.060902,0.060940,0.060976,0.061011

In [18]:
data.iloc[:, 120+1].mean().item()

0.05935553343927729

In [35]:
data = data.iloc[:, 2:]
data.index = range(1, len(data)+1)

np.float64(0.0315976854043286)