In [20]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [4]:
data = pd.read_excel('LW_monthly_1972-2024.xlsx')

In [15]:
data.describe()

,Unnamed: 0,Unnamed: 1,1,2,3,4,5,6,7,8,...,111,112,113,114,115,116,117,118,119,120
count,636.000000,636.00000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,...,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000,636.000000
mean,1998.000000,6.50000,0.043686,0.044327,0.044938,0.045502,0.046009,0.046459,0.046857,0.047211,...,0.058939,0.058982,0.059025,0.059070,0.059115,0.059161,0.059209,0.059257,0.059306,0.059356
std,15.309099,3.45477,0.034048,0.034347,0.034606,0.034818,0.034976,0.035086,0.035154,0.035191,...,0.030668,0.030614,0.030558,0.030503,0.030448,0.030394,0.030340,0.030288,0.030237,0.030188
min,1972.000000,1.00000,-0.000057,0.000019,0.000088,0.000154,0.000217,0.000277,0.000335,0.000392,...,0.004972,0.005004,0.005037,0.005071,0.005107,0.005144,0.005183,0.005222,0.005262,0.005301
25%,1985.000000,3.75000,0.012338,0.012921,0.013326,0.013921,0.013867,0.014605,0.014864,0.015656,...,0.035080,0.035332,0.035491,0.035611,0.035754,0.035916,0.035986,0.036219,0.036506,0.036716
50%,1998.000000,6.50000,0.046373,0.047100,0.047780,0.048530,0.048937,0.049337,0.049506,0.049443,...,0.058755,0.058780,0.058806,0.058833,0.058862,0.058891,0.058922,0.058952,0.058983,0.059015
75%,2011.000000,9.25000,0.061535,0.062401,0.063066,0.063877,0.064488,0.065519,0.066053,0.066749,...,0.077413,0.077429,0.077448,0.077469,0.077459,0.077442,0.077351,0.077331,0.077431,0.077532
max,2024.000000,12.00000,0.160295,0.158670,0.159465,0.160335,0.160954,0.161326,0.161457,0.161364,...,0.149453,0.149453,0.149450,0.149446,0.149440,0.149432,0.149423,0.149412,0.149400,0.149387

In [18]:
data.iloc[:, 120+1].mean().item()

0.05935553343927729